<div class="row">
  <div class="col-md-12">
    <h1><%= @post.posts %></h1>
    <p><%= @post.created_at %></p>
    <br>
    <%= link_to "編集", edit_post_path(@post),class: "btn btn-secondary" %>
    <%= link_to "削除", post_path(@post), class: "btn btn-danger", method: :delete %>
  </div>
</div>